<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HR信息编辑</title>
</head>
<body>
    <form th:action="@{/ad/hrManage/edit/submit/{userno}(userno = ${user.userno})}">
        <tr>
            <td>姓名：<input type="text" th:value="${user.username}" name="name"/></td>
            <td>手机号：<input type="text" th:value="${user.userphone}" name="phone"/></td>
        </tr>
        <br/>
        <tr>
            <td>邮箱：<input type="text" th:value="${user.useremail}" name="email"/></td>
            <td>密码：<input type="text" th:value="${user.userpassword}" name="password"/></td>
        </tr>
        <br/>
        <tr>
            <td>性别：
                <select name="sex">
                    <option th:selected="${user.usergender eq '男'}">男</option>
                    <option th:selected="${user.usergender eq '女'}">女</option>
                </select>
                <!--<input type="text" th:value="${user.usergender}" name="sex"/>-->
            </td>
        </tr>
        <br/>
        <tr><input type="submit" value="提交"/></tr>
    </form>
</body>
</html>