<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.rps.mapper.GiftMapper">
  <resultMap id="BaseResultMap" type="com.hdu.rps.model.Gift">
    <id column="GiftNo" jdbcType="INTEGER" property="giftno" />
    <result column="GiftName" jdbcType="VARCHAR" property="giftname" />
    <result column="GiftNums" jdbcType="INTEGER" property="giftnums" />
    <result column="GiftCounts" jdbcType="INTEGER" property="giftcounts" />
    <result column="GiftState" jdbcType="INTEGER" property="giftstate" />
    <result column="GiftTime" jdbcType="TIMESTAMP" property="gifttime" />
    <result column="GiftDeadline" jdbcType="TIMESTAMP" property="giftdeadline" />
    <result column="GiftIntro" jdbcType="VARCHAR" property="giftintro" />
  </resultMap>
  <sql id="Base_Column_List">
    GiftNo, GiftName, GiftNums, GiftCounts, GiftState, GiftTime, GiftDeadline, GiftIntro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gift
    where GiftNo = #{giftno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gift
    where GiftNo = #{giftno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hdu.rps.model.Gift">
    insert into gift (GiftNo, GiftName, GiftNums, 
      GiftCounts, GiftState, GiftTime, 
      GiftDeadline, GiftIntro)
    values (#{giftno,jdbcType=INTEGER}, #{giftname,jdbcType=VARCHAR}, #{giftnums,jdbcType=INTEGER}, 
      #{giftcounts,jdbcType=INTEGER}, #{giftstate,jdbcType=INTEGER}, #{gifttime,jdbcType=TIMESTAMP}, 
      #{giftdeadline,jdbcType=TIMESTAMP}, #{giftintro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hdu.rps.model.Gift">
    insert into gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="giftno != null">
        GiftNo,
      </if>
      <if test="giftname != null">
        GiftName,
      </if>
      <if test="giftnums != null">
        GiftNums,
      </if>
      <if test="giftcounts != null">
        GiftCounts,
      </if>
      <if test="giftstate != null">
        GiftState,
      </if>
      <if test="gifttime != null">
        GiftTime,
      </if>
      <if test="giftdeadline != null">
        GiftDeadline,
      </if>
      <if test="giftintro != null">
        GiftIntro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="giftno != null">
        #{giftno,jdbcType=INTEGER},
      </if>
      <if test="giftname != null">
        #{giftname,jdbcType=VARCHAR},
      </if>
      <if test="giftnums != null">
        #{giftnums,jdbcType=INTEGER},
      </if>
      <if test="giftcounts != null">
        #{giftcounts,jdbcType=INTEGER},
      </if>
      <if test="giftstate != null">
        #{giftstate,jdbcType=INTEGER},
      </if>
      <if test="gifttime != null">
        #{gifttime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftdeadline != null">
        #{giftdeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="giftintro != null">
        #{giftintro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hdu.rps.model.Gift">
    update gift
    <set>
      <if test="giftname != null">
        GiftName = #{giftname,jdbcType=VARCHAR},
      </if>
      <if test="giftnums != null">
        GiftNums = #{giftnums,jdbcType=INTEGER},
      </if>
      <if test="giftcounts != null">
        GiftCounts = #{giftcounts,jdbcType=INTEGER},
      </if>
      <if test="giftstate != null">
        GiftState = #{giftstate,jdbcType=INTEGER},
      </if>
      <if test="gifttime != null">
        GiftTime = #{gifttime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftdeadline != null">
        GiftDeadline = #{giftdeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="giftintro != null">
        GiftIntro = #{giftintro,jdbcType=VARCHAR},
      </if>
    </set>
    where GiftNo = #{giftno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hdu.rps.model.Gift">
    update gift
    set GiftName = #{giftname,jdbcType=VARCHAR},
      GiftNums = #{giftnums,jdbcType=INTEGER},
      GiftCounts = #{giftcounts,jdbcType=INTEGER},
      GiftState = #{giftstate,jdbcType=INTEGER},
      GiftTime = #{gifttime,jdbcType=TIMESTAMP},
      GiftDeadline = #{giftdeadline,jdbcType=TIMESTAMP},
      GiftIntro = #{giftintro,jdbcType=VARCHAR}
    where GiftNo = #{giftno,jdbcType=INTEGER}
  </update>
</mapper>